<div class="row">
	<div class="col-xs-12">

		<label>Server Name</label>
		<input 
			type="text" 
			name="updateServerName"
			class="form-control" 
			(input)="onUpdateServerName($event)"
		>
		
		<p>{{ serverName }}</p>
		
		<button 
			class="btn btn-success" 
			[disabled]="!allowNewServer" 
			(click)="onCreateServer()"
		>
			Add server
		</button>

		<hr>

		<label>Two way binding</label>
		<input 
			type="text" 
			name="twoWayBindingName"
			class="form-control"
			[(ngModel)]="twoWayBindingName"
		>
	
		<p>{{ twoWayBindingName }}</p>

		<h3>{{ serverCreationStatus }}</h3>
		
		<app-server></app-server>
		
	</div>
</div>